<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Medication Dispensed Form</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
	
	<h1>MEDICATION DISPENSED FORM</h1>
	<form action = "http://localhost:5000/dispensed_result" method = "POST">
	<p>Med_ID <input type = "text" name = "MED_ID" /></p>
	<p>Med_Name <input type = "text" name = "MED_NAME" /></p>
	<p>Brand_Name <input type = "text" name = "Brand_Name" /></p>
	<p>Med_Type <input type ="text" name = "MED_TYPE" /></p>
	<p>Stud_LastName: <input type = "text" name = "Stud_LastName" /></p>
	<p>Stud_FirstName <input type = "text" name = "Stud_FirstName" /></p>
	<p>Dosage_Amount <input type = "text" name = "DOSAGE_AMNT" /></p>
	<p>Expiration_Date <input type = "date" name = "EXPIRATION_DATE" /></p>
	<p>Date_Dispensed <input type = "date" name = "DATE_DISPENSED" /></p>
	<p>Nurse_LastName <input type = "text" name = "Nurse_LastName" /></p>
	<p>Nurse_ID <input type = "text" name = "Nurse_ID" /></p>
	<p>Stud_ID_Num <input type = "text" name = "Stud_ID_Num" /></p>
	<p><input type = "submit" value = "submit" /></p>
	</form>
	  
	  {% endblock %}
  </body>
</html>