<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Report</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
	
    <h1>Patient Report</h1>
	
      <p> Patient Listing Report: </p>
	  
	  <table border = 1>
			<colgroup>
				<col style="background-color: lightgray">
			<tr>
               <th> Student Number </th>
               <td> Student First Name  </td>
			   <td> Student Last Name </td>
			   <td> Student School ID Number </td>
			   <td> Student Phone Number </td>
			   <td> Student Email </td>
			   <td> Student Address </td>
            </tr>
         {% for data in result %}
            <tr>
               <th> {{ data[0] }} </th>
               <td> {{ data[1] }} </td>
			   <td> {{ data[2] }} </td>
			   <td> {{ data[3] }} </td>
			   <td> {{ data[4] }} </td>
			   <td> {{ data[5] }} </td>
			   <td> {{ data[6] }} </td>
            </tr>
         {% endfor %}
		  
	  
	  {% endblock %}
   </body>
</html>