<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Privacy Policy</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
	
    <h1> Privacy Policy Statement  </h1>
    <p> The MedTracker Cinic– HIPAA Joint Privacy Notice describes how medical information about you may be used and disclosed and how you can obtain access to this information. Please review it carefully. 

Introduction 
This joint notice is being provided to you on behalf of MedTracker Cinic and the practitioners with clinical privileges that work at the Clinic with respect to services provided at the Clinic facilities (collectively referred to herein as “We” or “Our”). We understand that your medical information is private and confidential. Further, we are required by law to maintain the privacy of “protected health information.” Protected health information or MTC, includes any individually identifiable information that we obtain from you or others that relates to your past, present or future physical or mental health, the health care you have received, or payment for your health care. We will share protected health information with one another, as necessary, to carry out treatment, payment or healthcare operations relating to the services to be rendered at the Clinic facilities.
    <p> As required by law, this notice provides you with information about your rights and our legal duties and privacy practices with respect to the privacy of MTC. This notice also discusses the uses and disclosures we will make of your MTC. We must comply with the provisions of this notice as currently in effect, although we reserve the right to change the terms of this notice from time to time and to make the revised notice effective for all MTC we maintain. You can always request a written copy of our most current privacy notice from the Admitting office at the Clinic. </p>
	  
	  {% endblock %}
  </body>
</html>