<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Patient</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
	
    <h1> PATIENT PAGE </h1>
    <form action = "http://localhost:5000/result" method = "POST">
		<p>Student Number <input type = "text" name = "Stud_Num" /></p>
		<p>Student First Name <input type = "text" name = "Stud_First_Name" /></p>
		<p>Student Last Name <input type = "text" name = "Stud_Last_Name" /></p>
		<p>Student School ID Number <input type = "text" name = "Stud_ID_Num" /></p>
		<p> &nbsp </p>
		<p>Student Phone Number <input type = "text" name = "Stud_Phone_Num" /></p>
		<p>Student Email <input type = "text" name = "Stud_Email" /></p>
		<p>Student Address <input type ="text" name = "Stud_Address" /></p>
		<p> &nbsp </p>
		<p>Medication Dispensed <input type = "text" name = "Med_Name" /></p>
		<p>Date Medication was Dispensed <input type = "text" name = "Date_Med_Received" /></p>
		<p>Reason for Receiving Medication <input type ="text" name = "Reason_Med_Received" /></p>
		<p>Amount of Medication Dosage <input type = "text" name = "Med_Dosage_Amt" /></p>
		<p>Medication Expiration Date <input type = "text" name = "Med_Expiration_Date" /></p>
		<p><input type = "submit" value = "submit" /></p>
	</form>
	
	{% endblock %}
  </body>
</html>