<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Inventory</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
	
    <h1> Inventory</h1>
    <form action = "http://localhost:5000/inventory_result" method = "POST">
		<p>Inventory ID <input type = "number" name = "INVNT_ID" /></p>
		<p>Inventory Name <input type = "text" name = "INVNT_NAME" /></p>
		<p>Brand Name <input type = "text" name = "BRAND_NAME" /></p>
		<p>Product Type <input type = "text" name = "PRODUCT_TYPE" /></p>
		<p>Quantity <input type = "text" name = "QUANTITY" /></p>
		<p>Date Purchased <input type = "date" name = "DATE_PURCHASED" /></p>
		<p>Expiration Date <input type = "date" name = "EXPIRATION_DATE" /></p>
		<p>Supplier <input type = "text" name = "SUPPLIER" /></p>
		<p>Product Description <input type = "text" name = "PRODUCT_DESCRIPTION" /></p>
		<p>Barcode Number <input type = "number" name = "BARCODE_NUMBER" /></p>
		<p><input type = "submit" value = "submit"/></p>
	</form>
	  
	  {% endblock %}
  </body>
</html>